<div class="container well" style="margin-top: 5%">
    <div class="rows">
    <form action="/home/write" method="POST">
        <div class="form-group">
          <label for="usr">제목:</label>
          <input name="title" type="text" class="form-control" id="usr">
        </div> 
        <div class="form-group">
          <label for="comment">내용:</label>
          <textarea name="content" class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
          <label for="place">장소:</label>
          <input name="place" type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="date">날짜:</label>
          <input name="date" type="text" class="form-control" id="usr">
        </div>
        
        <div class="row">
            <div class ="col-md-4">
              <input type="checkbox" name="food"> 식사 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="citytour"> 시내 투어 <br>
            </div>
            <div class ="col-md-4">
                <input type="checkbox" name="suburbtour"> 근교 투어 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="guidetour"> 가이드 투어 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="concert"> 콘서트 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="sports"> 스포츠 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="gallery"> 미술관 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="museum"> 박물관 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="historic"> 유적지 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="room"> 룸 쉐어링 <br>
            </div>
            <div class ="col-md-4">
              <input type="checkbox" name="car"> 카 쉐어링 <br>
            </div>
        </div>
        <br>
      <button type="submit" class="btn btn-default">작성하기</button>
    </form>
</div>
</div>

