
    a {
        font-family: 'yoon';
    }
    
    #title {
        font-weight: 700;
        font-size: 2em;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #purpose {
        margin-top: -15px;
    }

    #participate {
        width: 100%;
        height: 30px;
        background: #f3822c;
        font-weight: 200;
        font-size: 13px;
        border: none;
        color: white;
        cursor: default;
        opacity: 0.5;
    }
    
    .sticker3 {
        border: none;
        height: 23px;
        line-height: 23px;
        width: 95px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        border: 2px solid #b0afaf ;
        color: black;
        background-color: white;
    }

    #break5 {
        border-width: 1px;
        border-color: #adadac;
        margin-bottom: 10px;
    }
    
    #personacon {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-left: 5px;
    }
    
    .personlabel {
        font-weight: 200;
        font-size: 10px;
        text-align: center;
        margin-top: 1px;
    }

    #emptycircle {
        margin-bottom: 64px;
    }
    
    #chatsticker {
        color: white;
        background-color: #f3822c;
        border: none;
    }

    #content {
        margin-bottom: 250px
        
    }    
    
   button[type="submit"] {
        width: 95px;
        height: 23px;
        background: #f3822c;
        font-weight: normal;
        font-size: 16px;
        border: none;
        color: white;
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 5px;
    }